
.link {
    fill: none;
    stroke: #555;
    stroke-opacity: 0.4;
    stroke-width: 1px;
}


#Title {
	padding-top: 65px;
	padding-bottom: 50px;
	
}



#intro {
	
	  -webkit-box-sizing: content-box;
	  -moz-box-sizing: content-box;
	  box-sizing: content-box;

	  border: none;
	  color: rgb(255, 255, 255);
	  -o-text-overflow: clip;
	  text-overflow: clip;
	  background: -webkit-linear-gradient(63deg, rgb(21,21,21) 5px, rgba(0,0,0,0) 5px), -webkit-linear-gradient(-117deg, rgb(21,21,21) 5px, rgba(0,0,0,0) 5px), -webkit-linear-gradient(63deg, rgb(34,34,34) 5px, rgba(0,0,0,0) 5px), -webkit-linear-gradient(-117deg, rgb(34,34,34) 5px, rgba(0,0,0,0) 5px), -webkit-linear-gradient(0deg, rgb(27,27,27) 10px, rgba(0,0,0,0) 10px), -webkit-linear-gradient(-90deg, rgb(29,29,29) 25%, rgb(26,26,26) 25%, rgb(26,26,26) 50%, rgba(0,0,0,0) 50%, rgba(0,0,0,0) 75%, rgb(36,36,36) 75%, rgb(36,36,36) 100%), rgb(19, 19, 19);
	  background: -moz-linear-gradient(27deg, rgb(21,21,21) 5px, rgba(0,0,0,0) 5px), -moz-linear-gradient(207deg, rgb(21,21,21) 5px, rgba(0,0,0,0) 5px), -moz-linear-gradient(27deg, rgb(34,34,34) 5px, rgba(0,0,0,0) 5px), -moz-linear-gradient(207deg, rgb(34,34,34) 5px, rgba(0,0,0,0) 5px), -moz-linear-gradient(90deg, rgb(27,27,27) 10px, rgba(0,0,0,0) 10px), -moz-linear-gradient(180deg, rgb(29,29,29) 25%, rgb(26,26,26) 25%, rgb(26,26,26) 50%, rgba(0,0,0,0) 50%, rgba(0,0,0,0) 75%, rgb(36,36,36) 75%, rgb(36,36,36) 100%), rgb(19, 19, 19);
	  background: linear-gradient(27deg, rgb(21,21,21) 5px, rgba(0,0,0,0) 5px), linear-gradient(207deg, rgb(21,21,21) 5px, rgba(0,0,0,0) 5px), linear-gradient(27deg, rgb(34,34,34) 5px, rgba(0,0,0,0) 5px), linear-gradient(207deg, rgb(34,34,34) 5px, rgba(0,0,0,0) 5px), linear-gradient(90deg, rgb(27,27,27) 10px, rgba(0,0,0,0) 10px), linear-gradient(180deg, rgb(29,29,29) 25%, rgb(26,26,26) 25%, rgb(26,26,26) 50%, rgba(0,0,0,0) 50%, rgba(0,0,0,0) 75%, rgb(36,36,36) 75%, rgb(36,36,36) 100%), rgb(19, 19, 19);
	  background-position: 0 5px, 10px 0, 0 10px, 10px 5px, 0 0, 0 0;
	  -webkit-background-origin: padding-box;
	  background-origin: padding-box;
	  -webkit-background-clip: border-box;
	  background-clip: border-box;
	  -webkit-background-size: 20px 20px;

 
	background-size: 64px 128px
	
	color: white
    clear: left;
    text-align: center;
    font: sans-serif;
    font-size: 20px;
	
	padding-top: 10px;
	padding-bottom: 10px;
	
	padding-right: 100px;
	padding-left: 100px;

	

}


svg {
	
	transform: translate(150px,-30px);
}

#graph1_explain {
	
	margin-left: 80px;
	margin-right: 860px;
	margin-top: 10px;
	margin-bottom: 0px;
	transform: translate(0px,200px);
}



#graph2_explain {
	
	margin-left: 80px;
	margin-right: 850px;
	margin-top: 10px;
	margin-bottom: 0px;
	transform: translate(0px,200px);
}


#graph3_explain {
	
	margin-left: 80px;
	margin-right: 850px;
	margin-top: 10px;
	margin-bottom: 0px;
	transform: translate(0px,200px);
}

#graph4_explain {
	
	margin-left: 80px;
	margin-right: 850px;
	margin-top: 10px;
	margin-bottom: 0px;
	transform: translate(0px,150px);
}


#graph5_explain {
	
	margin-left: 80px;
	margin-right: 850px;
	margin-top: 10px;
	margin-bottom: 0px;
	transform: translate(-30px,200px);
}

#title1 {
	margin-top: 50px;
	margin-bottom: -145px;

}

#title2 {
	margin-top: 50px;
	margin-bottom: -145px;

}


#title3 {
	margin-top: 50px;
	margin-bottom: -140px;

}

#title4 {
	margin-top: 40px;
	margin-bottom: -100px;

}

#title5 {
	margin-top: 50px;
	margin-bottom: -120px;

}



#back_imag {
    background-image: url("watermark2.jpg");
	background-size: 1200px 250px;
	background-repeat: no-repeat;
	background-position: top;
	background-attachment: fixed;
	
}

body img {
	
	opacity: 0.2;
}

svg {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.axis text{
    font: sans-serif;
    font-size: 12px;
    font-weight: bold;
}

.next-btn {
  color: #FFF;
  background: #0000FF;
  font-weight: bold;
  border: 1px solid #900;
}
 
.next-btn:hover {
  color: #FFF;
  background: #900;
  cursor: pointer; /* cursor: hand; for IE5 */
}

.positive{
		/*fill: #DAA520;*/
		fill-opacity: 0.95;
	}
.negative{
		/*fill: #A0522D;*/
		fill-opacity: 0.95;
	}
.axis path,
.axis line {
			fill: none;
			stroke: black;
			shape-rendering: crispEdges;
	}
.axis text {
			font-family: sans-serif;
			font-size: 10px;	
	}
div.tooltip {   
	  position: absolute;     
	  text-align: center;
	  vertical-align: middle;   
	  width: 100px;                  
	  height: 50px;                 
	  padding: 5px; 
	  color: #000000;          
	  font-size: 12px;     
	  background: #FFF;
	  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
	  border: 2px;  
	  border-radius: 8px;  
	  pointer-events: none;                  
	} 
li{
	overflow:hidden;
	display: inline-block;
}
ul{
	padding-left: 0;
	padding-right: 0;
}
#chart-container{
	float:left;
}

svg {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.xAxis .tick text{
        fill: black;
    }
    .grid .tick line{
        stroke: grey;
        stroke-dasharray: 5, 10;
        opacity: 0.7;
    }
    .grid path{
        stroke-width: 0;
    }

    .node circle {
        fill: #999;
    }
    .node--internal circle {
        fill: #555;
    }
    .node--internal text {
        font-size: 16px;
        text-shadow: 0 2px 0 #fff, 0 -2px 0 #fff, 2px 0 0 #fff, -2px 0 0 #fff;
    }
    .node--leaf text {
        fill: white;
    }
    .ballG text {
        fill: white;
    }

    .shadow {
        -webkit-filter: drop-shadow( -1.5px -1.5px 1.5px #000 );
        filter: drop-shadow( -1.5px -1.5px 1.5px #000 );
    }

          rect.bordered {
        stroke: #E6E6E6;
        stroke-width:2px;   
      }

      text.mono {
        font-size: 9pt;
        font-family: sans-serif;
        fill: #aaa;
      }

      text.axis-workweek {
        fill: #000;
      }

      text.axis-worktime {
        fill: #000;
      }

@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:300,400);
* {
	margin: 0;
	padding: 0;
}
html, body {
	height: 80%;
}

section {
	position: relative;
	top:0;
	width: 100%;
	height: 60%;
}


section::after {
	position: absolute;
	bottom: 0;
	left: 0;
	content: '';
	width: 100%;
	height: 80%;
	background: -webkit-linear-gradient(top,rgba(0,0,0,0) 0,rgba(0,0,0,.8) 80%,rgba(0,0,0,.8) 100%);
	background: linear-gradient(to bottom,rgba(0,0,0,0) 0,rgba(0,0,0,.8) 80%,rgba(0,0,0,.8) 100%);
}



.demo a {
	position: absolute;
	bottom: 20px;
	left: 50%;
	z-index: 2;
	display: inline-block;
	-webkit-transform: translate(0, -50%);
	transform: translate(0, -50%);
	color: #fff;
	font : normal 400 20px/1 'Josefin Sans', sans-serif;
	letter-spacing: .1em;
	text-decoration: none;
	transition: opacity .3s;
}
.demo a:hover {
	opacity: .5;
}

 #section03 a {
	padding-top: 60px;
}
#section03 a span {
	position: absolute;
	top: 0;
	left: 50%;
	width: 46px;
	height: 46px;
	margin-left: -23px;
	border: 1px solid #fff;
	border-radius: 100%;
	box-sizing: border-box;
}

#section03 a span::after {
	position: absolute;
	top: 50%;
	left: 50%;
	content: '';
	width: 16px;
	height: 16px;
	margin: -12px 0 0 -8px;
	border-left: 1px solid #fff;
	border-bottom: 1px solid #fff;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
	box-sizing: border-box;
}
#section03 a span::before {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	content: '';
	width: 44px;
	height: 44px;
	box-shadow: 0 0 0 0 rgba(255,255,255,.1);
	border-radius: 100%;
	opacity: 0;
	-webkit-animation: sdb03 3s infinite;
	animation: sdb03 3s infinite;
	box-sizing: border-box;
}
@-webkit-keyframes sdb03 {
	0% {
		opacity: 0;
	}
	30% {
		opacity: 1;
	}
	60% {
		box-shadow: 0 0 0 60px rgba(255,255,255,.1);
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}
@keyframes sdb03 {
	0% {
		opacity: 0;
	}
	30% {
		opacity: 1;
	}
	60% {
		box-shadow: 0 0 0 60px rgba(255,255,255,.1);
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}

